.header .logo img {
    width: 180px;
  }
  
  ul,
  li {
    list-style-type: none;
  }
  
  /* .section-2 img {
    max-width: 100%;
    width: 500px;
  }
  
  .showcase {
    background: url('./images/microsoft/hero.jpg') no-repeat right/cover;
    height: 400px;
  }
  
  .showcase .overlay {
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
  } */
  
  @media (min-width: 640px) {
    .hero {
      position: relative;
      background: url('./images/hero_1600.png') no-repeat center/cover;
      height: 500px;
    }
  
    .hero-img {
      display: none;
    }
  
    .hero .overlay {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .hero .overlay p.text {
      width: 300px;
    }
  
    /* Gamepass */
    .gamepass-hero {
      background: url('./images/game_pass_1600.png') no-repeat
        center/cover;
    }

    /* this holiday */
    .this-holiday {
        background: url('./images/this_holiday_1600.png') no-repeat center/cover;
    }
}

@media (min-width: 900px) {
  .header .menu-btn, .header .cart
   {
    display: none;
  }

  .header .logo {
    display: flex;
  }

  .header .logo ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .logo ul li {
    margin: 0 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .header .sign-in ul {
    display: flex;
  }

  .header .sign-in ul li {
    margin: 0 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header .sign-in,
  .header .logo ul{
    display: none;
  }
} 